<div>
  <form action="/" method="post">
    <div>
      <div>
        <label>Your name <span title="This field is required.">*</span></label>
        <input name="name" value="" size="60" maxlength="128" type="text">
      </div>
      <div>
        <label>Your e-mail address <span title="This field is required.">*</span></label>
        <input name="email" size="60" type="email">
      </div>
      <div>
        <label>Subject <span title="This field is required.">*</span></label>
        <input name="subject" value="" size="60" maxlength="128" type="text">
      </div>
      <div>
        <label>Reason for contact <span title="This field is required.">*</span></label>
        <div>
          <div>
            <input name="reason" value="business" checked="checked" type="radio"><label>Business</label>
          </div>
          <div>
            <input name="reason" value="employment" type="radio"><label>Employment</label>
          </div>
        </div>
      </div>
      <div>
        <label>Message <span title="This field is required.">*</span></label>
        <div>
          <textarea name="message" cols="60" rows="5"></textarea>
          <div></div>
        </div>
      </div>
      <input name="empty" type="hidden" value="">
    </div>
    <div>
      <input name="op" value="Send Message" type="submit">
    </div>
  </form>
</div>
