<form action="/" method="POST">
  Name: <input type="text" name="name" required />
  <br />
  Email: <input type="text" name="email" required />
  <br />
  Message: <textarea rows="5" columns="25" name = "body" required /></textarea>
  <input type="submit" />
</form>
