<html>
    <head>
        <title>Sample Web Form</title>
    </head>
<body>

<%= yield %>
<script src="js/validate.js"></script>

<!-- JS is linked correctly but is not processing -->

</body>
</html>
